.table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-top:2%;
  background: url("../../assets/tiles/path_grey.png") repeat;
  border: 8px solid #222b45  !important;

}
