.grid-cell {
  width: 10px !important;
  height: 30px;
  margin: 5px;
  box-sizing: border-box;
  cursor: pointer;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  border: 0.1px solid rgba(7, 7, 7, 0.13) !important;

  &.floor {
    background:#222b45 ;
    background-size: contain;

    &:hover {
      cursor: pointer;
    }
  }

  &.wall {
    background: black repeat;
    background-size: contain;
  }

  &.player {
    background: url("../../assets/player/car.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  &.target {
    background: url("../../assets/player/home.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  &.weight {
    background: url("../../assets/tiles/weight.png") no-repeat;
    background-size: contain;
    width: 10px;
    background-position: center;
  }

  &.visited {
    opacity: 1;
    animation-name: visited;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  &.shortest-path {
    opacity: 1;
    animation-name: shortest-path;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes visited {
    0% {
      transform: scale(0.1);
      background-color: #202020;
      border-radius: 100%;
    }
    50% {
      background-color: rgb(0, 190, 218);
    }
    75% {
      transform: scale(1.2);
      background-color: rgb(51, 53, 145);
    }
    100% {
      transform: scale(1);
      background-color: rgb(67, 54, 179);
    }
  }

  @keyframes shortest-path {
    0% {
      transform: scale(0.3);
      background-color: #202020;
      border-radius: 100%;
    }
    50% {
      background-color: #da6900;
    }
    75% {
      transform: scale(1.2);
      background-color: #da5000;
    }
    100% {
      transform: scale(1);
      background-color:white;
    }
  }
}
