.modal-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .close-btn {
    text-align: right;
    right: 0;
    top: 0;

    button {
      background-image: url("../../assets/buttons/cross.png");
      background-color: transparent;
      background-position: center;
      border-radius: 10px;
      width: 38px;
      height: 36px;
      border: none;

      &:hover {
        opacity: 0.9;
      }
      &:focus {
        outline: none;
      }
      &:active {
        background-image: url("../../assets/buttons/cross.png") no-repeat;
      }
    }
  }
}
