@import url("./bootstrap.min.css");

@font-face {
  font-family: Squirk;
  src: url("./assets/fonts/Squirk-RMvV.ttf");
}

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Squirk", sans-serif;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span.squirk {
  font-family: "Squirk";
  font-size: 26px;
  color: #204256;
  font-weight: 400;
  letter-spacing: 3px;
}

.table td,
.table th {
  border: none;
}
